body{
    padding:0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
}
.main-body{
    position: absolute;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    font-size:30px;
    width: 100%;
}
nav{
    background-image: url('https://media2.giphy.com/media/kDHNeVlj35o6t5W4pl/giphy.gif?cid=ecf05e47irvyloaapc6ab5g941lb0un9zojn46l1q2blk9hq&rid=giphy.gif&ct=g');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh
}
nav > div{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
    font-weight: bold;
    background-image: url('../img/portal.png');
    background-position: bottom center;
    background-repeat: no-repeat;
}
#main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 60px;
    color:white;
    background-image: url('https://media3.giphy.com/media/TxVVB6PfWMjE4/giphy.gif?cid=ecf05e47sbyhhksj3f8t7r62zvf60ozz83p2km6w8qhh8l3t&rid=giphy.gif&ct=g');
}
.character{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.character-name{
    width: 100%;
    display: flex;
    justify-content:center;
    text-align: center;
}
.character-description{
    width: 100%;
    display: flex;
    justify-content:center;
    text-align: center;
}